# üîé Exploratory Analysis üîé

## ‚ùì Questions to Answer? ‚ùì
- 1Ô∏è‚É£
- 2Ô∏è‚É£
- 3Ô∏è‚É£
- 4Ô∏è‚É£
- 5Ô∏è‚É£

In [12]:
# imports
import pandas as pd
import os

In [23]:
# get data
def load_financial_data(csv_path="../data/processed/financial_data.csv"):
    """
    Load the financial data CSV into a pandas DataFrame.
    """
    df = pd.read_csv(csv_path, parse_dates=["Date"], index_col="Date")
    return df

In [22]:
# example dataframe
df = load_financial_data()
df.head()

,AAPL,ABT,ADBE,AMZN,BAC,CMCSA,COST,CRM,CSCO,CVX,...,PG,SPY,T,TMO,TSLA,UNH,V,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,72.620850,78.908424,334.429993,94.900497,31.092318,39.359211,267.244263,165.801956,41.180763,95.001556,...,107.748245,300.291565,19.607115,321.868744,28.684000,270.618591,183.872086,44.807621,36.593372,54.634792
2020-01-03,71.914818,77.946449,331.809998,93.748497,30.446745,39.046906,267.464355,164.987778,40.508877,94.672943,...,107.023590,298.017670,19.708025,318.367737,29.534000,267.880005,182.409714,44.330566,36.270329,54.195553
2020-01-06,72.487831,78.354843,333.709991,95.143997,30.403114,38.751945,267.537598,172.215988,40.653473,94.352203,...,107.172012,299.154633,19.728207,320.655792,30.102667,269.739624,182.015244,44.235146,36.196487,54.611668
2020-01-07,72.146935,77.919250,333.390015,95.343002,30.202461,39.161606,267.115875,174.747849,40.389809,93.147377,...,106.508453,298.313507,19.803888,322.470337,31.270666,268.111267,181.534225,43.743404,35.861141,54.164711
2020-01-08,73.307518,78.236862,337.869995,94.598503,30.507803,39.562550,270.178131,176.068375,40.415325,92.083359,...,106.962471,299.903351,19.864441,322.983154,32.809334,273.764252,184.641678,43.824131,35.738071,53.347897